<nav id="navbar" class="navbar navbar-light navbar-expand-sm fixed-top" role="navigation">
  <div class="container">
    <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarNav">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" href="index.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cv/index.html">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="research/index.html">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="teaching/index.html">Teaching &amp; Mentoring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="service/index.html">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="awards/index.html">Awards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="inspire/index.html">Inspire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="media/index.html">Media &amp; Press</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="fun/index.html">Fun</a>
        </li>
        <li class="toggle-container">
          <button id="light-toggle" title="Change theme">
            <i class="ti ti-sun-moon" id="light-toggle-system"></i>
            <i class="ti ti-moon-filled" id="light-toggle-dark"></i>
            <i class="ti ti-sun-filled" id="light-toggle-light"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<progress id="progress" value="0">
  <div class="progress-container"><span class="progress-bar"></span></div>
</progress>
